<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appteamnith.hillffair">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activities.ThemeSelectionActivity" />

        <activity android:name=".activities.WelcomeActivity" />

        <activity android:name=".activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity">
        </activity>

        <activity android:name=".activities.SignUpActivity" />

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" >


        </activity>
        <activity
            android:name=".activities.NewsfeedActivity"
            android:label="NewsFeed"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".activities.ProfileActivity" />

        <activity
            android:name=".activities.UploadNewsFeedActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity android:name=".activities.CoreTeamActivity"></activity>

    </application>

</manifest>